body{
    background-color:gray;
    }
    
img {
    display: block;
    margin: 300px auto;
    width: 500px;
    height: 250px;
    transition: transform 200ms ease;
    will-change: transform;

}
img.is-expanded {
    transform: scale(1.9);
    box-shadow: 0 16px 40px rgba(red, green, blue, alpha)
}